ul {
  padding-left: 0px;
}
li {
  list-style-type: none;
  
}

.social-list li {
  display: inline-block;
  padding: 0;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 25px;
}

.social-list img {
  height: 25px;
  width: 25px;
}

